<section class="SyneBold mt-4">
  <mat-toolbar class="h-[15%] bg-[white]">
    <span class="w-[40%]"><img src="assets/img/Rendea-menu.png" alt=""></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>

    <div class="w-[100%] lg:hidden block">
      <div class="flex justify-end">
        <button mat-button [matMenuTriggerFor]="menu"><img src="assets/img/gg_menu.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item> <a mat-button [routerLink]="['/index']">Propietario</a></button>
          <button mat-menu-item> <a mat-button [routerLink]="['/page2']">Inquilino</a></button>
          <button mat-menu-item><a mat-button [routerLink]="['/agente']">Agente</a></button>
        </mat-menu>
      </div>
    </div>
    <div class="hidden lg:block w-[60%] space-x-20">


      <a mat-button [routerLink]="['/index']">Propietario</a>


      <a mat-button [routerLink]="['/page2']">Inquilino</a>


      <a mat-button [routerLink]="['/agente']">Agente</a>




    </div>

    <div class="hidden lg:block">
      <button class=mat-button onclick="window.location.href=' #'"
        style="background: #FF8D00; border-radius: 50px; width:  217px; height: 60px; color: #000000;">
        <a href="#">Conversemos</a></button>
    </div>
  </mat-toolbar>

  <section class="mt-6 md:mt-12">
    <div class="w-[100%] flex mb:flex-col-reverse md:justify-between">
      <div class=" w-[100%] md:w-[40%] flex flex-col bg-[#FAF3E3] md:bg-[#F5F5F5]">
        <div class="flex justify-center text-[20px] lg:text-[30px] xl:text-[40px] 2xl:text-[51.83px] mt-8 md:mt-48">
          <div class="flex flex-col">
            <div class="md:hidden block">
              <div class="w-[100%]">
                <div class="flex justify-center mb-12">
                  <img src="assets/img/12-meses-responsive.png" alt="">
                </div>
              </div>
            </div>
            <p class="2xl:w-[566px] xl:w-[450px] lg:w-[304px] w-[227px]">Elige cómo y cuándo adelantar el alquiler de tu
              inmueble.</p>
            <p
              class="hidden md:block text-[16px] lg:text-[17px] xl:text-[20px] 2xl:text-[24px] 2xl:w-[368px] xl:w-[368px] lg:w-[270px] w-[227px]">
              Recibe hasta <span style="color: #FF5C00;"> 12 meses </span> de tus alquileres en un solo
              pago</p>
            <div class="hidden lg:block flex flex-row-reverse 2xl:mr-[42%] xl:mr-[30%] lg:mr-[10%] mt-20 mb-40">
              <button mat-button onclick="window.location.href=' #'"
                style="background: #FF8D00; border-radius: 50px; width:  335px; height: 84px; color: #000000;">
                <a href="#contacto">Lista de espera</a></button>
            </div>
          </div>
        </div>
        <div class="md:hidden block flex justify-center lg:flex-row-reverse   mt-6">
          <p class="text-[13px]  2xl:w-[368px] xl:w-[368px] lg:w-[270px] w-[227px]"> Recibe hasta
            <span style="color: #FF5C00;"> 12 meses </span> de tus alquileres en un solo
            pago
          </p>
        </div>
        <div class="lg:hidden block flex justify-center mb-8">
          <div class="flex flex-row-reverse mt-6">
            <button mat-button onclick="window.location.href=' #'"
              style="background: #FF8D00; border-radius: 50px; width: 287px; height: 48px; color: #000000;">
              <a href="#contacto">Lista de espera</a></button>
          </div>
        </div>



      </div>
      <div class=" md:block hidden bg-[#FAF3E3] md:w-[60%] ">
        <div class=" mt-28 mb-[118px] flex justify-center">
          <img class="hidden md:block" src="assets/img/12mesesadelanto.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="hidden">
    <div class="w-[100%] flex justify-between">
      <div class="md:w-[70%] w-[100%] md:bg-[#FAF3E3] bg-[#FFFFFF]">
        <div class="md:mt-72 mt-20 mb-[366px] md:ml-7 ">
          <div class="2xl:w-[460px] xl:w-[400px] md:w-[350px] md:block hidden">
            <p class="2xl:text-[48px] xl:text-[40px] lg:text-[35px] md:text-[30px]">Adelante su dinero de alquiler</p>
          </div>
          <div class="md:block hidden 2xl:w-[498px] xl:w-[448px] md:w-[380px] 2xl:mt-16 xl:mt-8 md:mt-6 mt-7">
            <p class="2xl:text-[24px] xl:text-[20px] text-[16px]">No hay necesidad de esperar a que el dinero llegue
              solo
              mensualmente.</p>
          </div>

          <div class="md:hidden block flex flex-col">
            <div class="flex justify-center">

              <div class="flex flex-col">
                <div class="w-[308px] h-[81px] ">
                  <p class="text-[30px]">Adelante su dinero de alquiler</p>
                </div>
                <div class="mt-7 w-[308px] h-[159px]">
                  <p class="text-[15px]">No hay necesidad de esperar a que el dinero llegue solo
                    mensualmente.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div>

      </div>
    </div>
  </section>


  <section>
    <div class="w-[100%] flex justify-between">

      <div class="md:block hidden md:w-[40%] flex flex-col px-4">
        <div class="md:mt-36 flex justify-center">
          <img src="assets/img/incio-celular.png" alt="">
        </div>
      </div>
      <div class="lg:w-[60%] w-[100%] bg-[#FAF3E3] ">
        <div class="lg:mt-[306px] mt-24">
          <div
            class="flex space-x-10 lg:space-x-16 xl:space-x-12 2xl:space-x-7 text-[16px] lg:text-[16px] justify-center w-[100%] lg:w-[92%]">
            <p class="lg:w-[9%]">Propietario</p>
            <p class="lg:w-[9%]">Inquilino</p>
            <p class="lg:w-[9%]">Agencias</p>
          </div>
          <div>
            <div class=" flex md:justify-center mt-[39px] lg:ml-[0px] ml-6">
              <div class="flex flex-col">
                <p
                  class="text-[32px] lg:text-[30px] xl:text-[38px] 2xl:text-[48px] w-[287px] lg:w-[400px]  xl:w-[441px]">
                  Todo estara en la
                  aplicación de tu teléfono</p>


                <div
                  class=" flex lg:justify-center lg:w-[73%] xl:w-[74%] 2xl:w-[83%] mt-[13px] lg:mt-[13px] lg:ml-[0px]">
                  <div class="lg:flex lg:flex-col">
                    <p class="text-[20px] lg:text-[17px] xl:text-[17px] 2xl:text-[20px]">Pagos, servicios y más</p>


                    <div class="lg:block hidden flex justify-center w-[90%] mt-[39px] mb-[298px]">
                      <button mat-button onclick="window.location.href=' #'"
                        style="background: #FF8D00; border-radius: 50px; width:  335px; height: 84px; color: #000000; font-size: 20px;">
                        <a href="#contacto">Lista de espera</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>




          <div class="md:hidden block mt-9 flex justify-center">
            <img src="assets/img/inicio-celular-responsive.png" alt="">
          </div>


          <div class="block lg:hidden flex justify-center w-[100%] mt-[39px] mb-[63px]">
            <button mat-button onclick="window.location.href='#'"
              style="background: #FF8D00; border-radius: 50px; width: 287px; height: 48px; color: #000000;">
              <a href="#contacto">Lista de espera</a></button>
          </div>


        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="hidden md:block">
      <div class=" w-[100%] flex justify-between ">
        <div class="lg:w-[40%] px-4">
          <div class="lg:mt-36 lg:mb-[0px] md:mt-32 lg:mt-2.5 mb-10  flex justify-center">
            <img src="assets/img/beneficios.png" alt="">
          </div>
        </div>
        <div class="lg:w-[60%] w-[100%] bg-[#033629] text-white">
          <div class=" flex space-x-7 text-[16px] justify-center w-[100%]">
            <div class="flex flex-col mt-48 ">
              <p class="flex ml-[41px] lg:ml-[0px] text-[32px] lg:text-[35px] xl:text-[41px] 2xl:text-[48px]">Beneficios
              </p>
              <div class="flex md:justify-between space-x-3 lg:space-x-8 xl:space-x-10 ">
                <div
                  class=" md:text-[13px] lg:text-[15px] xl:text-[20px] md:w-[200px] lg:w-[280px] xl:w-[280px] 2xl:w-[335px] mt-14">
                  <i> <img src="assets/img/icono-check.png" alt=""></i>
                  <p class="md:text-[17px] lg:text-[27px] xl:text-[27px] 2xl:text-[32px] mb-[38px]">
                    Una nueva forma
                    de cobrar el aquiler
                  </p>
                  <p class="md:w-[180px] lg:w-[240px] xl:w-[300px] 2xl:w-[320px]">
                    Multiplica las ventajas de tener
                    tu inmueble alquilado con Rendea.
                  </p>
                </div>
                <div>
                  <div
                    class="md:text-[13px] lg:text-[15px] xl:text-[20px] md:w-[200px] lg:w-[280px] xl:w-[280px] 2xl:w-[335px] mt-14 mb-36">
                    <i> <img src="assets/img/icono-check.png" alt=""></i>
                    <p class="md:text-[17px] lg:text-[27px] xl:text-[27px] 2xl:text-[32px] mb-[38px]">
                      Una nueva forma
                      de cobrar el aquiler
                    </p>
                    <p class=" md:w-[180px] lg:w-[240px] xl:w-[320px] 2xl:w-[320px]">
                      Multiplica las ventajas de tener
                      tu inmueble alquilado con Rendea.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="md:hidden block bg-[#033629]">
      <div class="w-[100%] ">
        <div class="lg:w-[40%] px-4 bg-[#FFFFFF]">
          <div class=" mt-2.5  flex justify-center">
            <img class="mb-10 " src="assets/img/beneficios.png" alt="">
          </div>
        </div>
        <div class="">
          <div class="text-white ">
            <div class="mt-20">
              <p class="flex ml-[41px] text-[32px] ">Beneficios</p>
              <div class="flex flex-col ">
                <div class="w-[100%] flex justify-center mt-14">
                  <div class="w-[289px]">
                    <i> <img src="assets/img/icono-check.png" alt=""></i>
                    <p class="text-[32px] lg:text-[27px] xl:text-[27px] 2xl:text-[32px] mb-[38px]">
                      Una nueva forma
                      de cobrar el aquiler
                    </p>
                    <p class="lg:w-[240px] xl:w-[300px] 2xl:w-[320px]">
                      Multiplica las ventajas de tener
                      tu inmueble alquilado con Rendea.
                    </p>
                  </div>
                </div>

                <div>
                  <div class=" mt-10 mb-[103px]">
                    <div class="w-[100%] flex justify-center">
                      <div class="w-[289px]">
                        <i> <img src="assets/img/icono-check.png" alt=""></i>
                        <p class="text-[32px] lg:text-[27px] xl:text-[27px] 2xl:text-[32px] mb-[38px]">
                          Adelantamos mensualidades
                        </p>
                        <p class="lg:w-[240px] xl:w-[320px] 2xl:w-[320px]">
                          Escoge si quieres cobrar por adelantado desde 6 hasta 12 mensualidades
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w-[100%] bg-[#FAF3E3]">
    <div class="flex justify-center md:text-[25px] xl:text-[30px] 2xl:text-[36px]">
      <div class="flex flex-col">
        <p class="w-[290px] md:w-[750px] lg:w-[966px] mt-32 flex justify-center">Disfruta de tener tu inmueble
        </p>
        <p class="flex justify-center">en alquiler con la máxima</p>
        <p class="flex justify-center"> tranquilidad</p>
      </div>
    </div>

    <div class="hidden md:block">
      <div class="flex md:justify-center space-x-3 lg:space-x-6 mt-32">
        <div class="md:w-[390px] lg:w-[487px] h-[450px] bg-[#FFFFFF] rounded-[25px] text-[20px]">
          <div class="flex justify-center">
            <p class="text-[24px] mt-16 mb-6">Préstamos tradicionales</p>
          </div>
          <div class="flex justify-center">
            <div class="flex flex-col w-[309px] space-y-3">
              <div class="flex space-x-3">
                <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                <p>Tasas de interés altísimas.</p>
              </div>
              <div class="flex space-x-3">
                <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                <p>Arriesga tu patrimonio con hipotécas</p>
              </div>
              <div class="flex space-x-3">
                <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                <p>No anticipa las rentas.</p>
              </div>
              <div class="flex space-x-3">
                <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                <p>Aprobación en meses.</p>
              </div>
              <div class="flex space-x-3">
                <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                <p>Trámites engorrosos.</p>
              </div>
              <div class="flex space-x-3">
                <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                <p>Costos ocultos.</p>
              </div>
            </div>
          </div>
        </div>




        <div class="md:w-[480px] lg:w-[568px] h-[473px] bg-[#033629] rounded-[25px] text-[20px]">
          <div class="flex justify-center mt-16 mb-24 ">
            <i><img src="assets/img/rendea-cuadro.png" alt=""></i>
          </div>
          <div class=" mt-12  flex justify-center text-white  ">
            <div class="flex flex-col space-y-3 ">
              <div class="flex space-x-3">
                <i class="mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Sin garantia hipotecaria y comisiónes por apertura.</p>
              </div>
              <div class="flex space-x-3">
                <i class=" mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Anticipo de hasta 12 meses</p>
              </div>
              <div class="flex space-x-3">
                <i class=" mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Completamente en linea.</p>
              </div>
              <div class="flex space-x-3">
                <i class=" mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Aprobamos tu adelanto en 48 hrs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="md:hidden block flex justify-center">
      <div class="flex flex-col space-y-5 mt-32">
        <div class="w-[312px] h-[310px] bg-[#FFFFFF] rounded-[25px] text-[15px]">
          <div class="flex justify-center">
            <p class="text-[20px] mt-16 mb-6">Préstamos tradicionales</p>
          </div>
          <div class="flex justify-center">
            <div class="flex flex-col space-y-3">
              <div class="w-[255px] ">
                <div class="flex space-x-1">
                  <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                  <p>Tasas de interés altísimas.</p>
                </div>
                <div class="flex space-x-1">
                  <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                  <p>Arriesga tu patrimonio con hipotécas</p>
                </div>
                <div class="flex space-x-1">
                  <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                  <p>No anticipa las rentas.</p>
                </div>
                <div class="flex space-x-1">
                  <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                  <p>Aprobación en meses.</p>
                </div>
                <div class="flex space-x-1">
                  <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                  <p>Trámites engorrosos.</p>
                </div>
                <div class="flex space-x-1">
                  <i class="w-[16px] h-[16px] mt-[7px]"><img src="assets/img/equiz-icono.png" alt=""></i>
                  <p>Costos ocultos.</p>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="w-[312px] h-[380px] bg-[#033629] rounded-[25px] text-[13px]">
          <div class="flex justify-center mt-16 mb-10 ">
            <i><img src="assets/img/rendea-cuadro-responsive.png" alt=""></i>
          </div>
          <div class="flex justify-center text-white  ">
            <div class="w-[280px] flex flex-col space-y-3 ">
              <div class="flex space-x-3">
                <i class="mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Sin garantia hipotecaria y comisiónes por apertura.</p>
              </div>
              <div class="flex space-x-3">
                <i class=" mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Anticipo de hasta 12 meses</p>
              </div>
              <div class="flex space-x-3">
                <i class=" mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[355px]">Completamente en linea.</p>
              </div>
              <div class="flex space-x-3">
                <i class=" mt-[7px]"><img src="assets/img/icono-check.png" alt=""></i>
                <p class="w-[375px]">Aprobamos tu adelanto en 48 hrs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mt-14 flex justify-center lg:text-[24px] text-[16px]">
        <div class="flex flex-col">
          <p class="flex justify-center">Solicita tu adelanto de alquiler</p>
          <div class=" hidden lg:block">
            <div class="flex justify-center">
              <button mat-button onclick="window.location.href=' #'"
                style="background: #FF8D00; border-radius: 50px; width:  335px; height: 84px; color: #000000; margin-top: 40px; margin-bottom: 76px;">
                <a href="#contacto">Lista de espera</a></button>
            </div>
          </div>
          <div class="lg:hidden block">
            <div class="flex justify-center ">
              <button mat-button onclick="window.location.href=' #'"
                style="background: #FF8D00; border-radius: 50px; width: 289px; height: 48px; color: #000000; margin-top: 40px; margin-bottom: 76px;">
                <a href="#contacto">Lista de espera</a></button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section>
    <div>
      <div class="flex justify-center text-[24px] lg:text-[36px] mt-28">
        <p>Preguntas Frecuentes</p>
      </div>
    </div>

    <div class="flex justify-center mt-10 mb-52">
      <div class="hidden lg:block flex flex-col">
        <mat-accordion style="width: 938px;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  938px; margin-top: 40px;">
              <mat-panel-title>
                Que es Adelanta de Arrenda
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 938px;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  938px; margin-top: 40px;">
              <mat-panel-title>
                Que documentos necesito para iniciar mi solicitud
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 938px;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  938px; margin-top: 40px;">
              <mat-panel-title>
                Necesito aval para pedir mi adelanto
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 938px;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  938px; margin-top: 40px;">
              <mat-panel-title>
                Mi inmueble queda en garantia
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 938px; ">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  938px; margin-top: 40px;">
              <mat-panel-title>
                Como se paga
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>



      <div class="flex flex-col lg:hidden block">
        <mat-accordion style="width: 100%;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  100%; margin-top: 40px;">
              <mat-panel-title>
                Que es Adelanta de Arrenda
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 100%;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  100%; margin-top: 40px;">
              <mat-panel-title>
                Que documentos necesito para iniciar mi solicitud
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 100%;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  100%; margin-top: 40px;">
              <mat-panel-title>
                Necesito aval para pedir mi adelanto
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 100%;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width: 100%; margin-top: 40px;">
              <mat-panel-title>
                Mi inmueble queda en garantia
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="width: 100%;">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="width:  100%; margin-top: 40px;">
              <mat-panel-title>
                Como se paga
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>


    <div class="flex justify-center lg:hidden block">
      <button mat-button onclick="window.location.href=' #'"
        style="background: #FF8D00; border-radius: 50px; width: 289px; height: 48px; color: #000000; margin-top: 52px; margin-bottom: 78px;">
        <a href="#contacto">Lista de espera</a></button>
    </div>
  </section>

  <section class="bg-[#F5F5F5]">
    <div class="flex flex-col">
      <div class="">
        <div class="flex justify-center lg:text-[36px] text-[20px] mt-60">
          <p class="">Confian en nosotros</p>
        </div>
      </div>

      <div class="flex justify-center mt-32 mb-60">
        <i><img src="assets/img/Esedor-logo.png" alt=""></i>
      </div>
    </div>
  </section>

  <section class="hidden md:block bg-[#033629] px-4">
    <div class="flex justify-between text-white">

      <div class="flex flex-col space-y-20 w-[20%]">
        <div class="mt-12">
          <i><img src="assets/img/logo-rendea-footer.png" alt=""></i>
        </div>
        <div class="text-[12px]">
          <p>© 2022 rendea Ltd. All rights reserved.
            Lima, Perú.</p>

        </div>
      </div>

      <div class="mt-24">
        <div class="flex flex-col space-y-4">
          <p>Propietario</p>
          <p>Inquilino</p>
          <p>Agencias</p>
        </div>
      </div>

      <div class="mt-24 mb-24">
        <div class="flex flex-col space-y-4">
          <p>Propietario Terms of use</p>
          <p>Inquilino Terms of use</p>
          <p>Cookie Policy Privacy Policy</p>
          <p>Contact us</p>
        </div>
      </div>

    </div>

  </section>

  <section class="md:hidden block bg-[#033629] px-4">
    <div class="flex flex-col-reverse text-white">

      <div class="flex flex-col space-y-10 w-[80%]">
        <div class="mt-20">
          <i><img src="assets/img/logo-rendea-footer.png" alt=""></i>
        </div>
        <div class="text-[12px] ">
          <p class="mb-12">© 2022 rendea Ltd. All rights reserved.
            Lima, Perú.</p>

        </div>
      </div>

      <div class="mt-20 mb-24">
        <div class="flex flex-col space-y-4">
          <p>Propietario Terms of use</p>
          <p>Inquilino Terms of use</p>
          <p>Cookie Policy Privacy Policy</p>
          <p>Contact us</p>
        </div>
      </div>

      <div class="mt-24">
        <div class="flex flex-col space-y-4 ">
          <p>Propietario</p>
          <p>Inquilino</p>
          <p>Agencias</p>
        </div>
      </div>



    </div>

  </section>
</section>
