<section class="SyneBold mt-4">

  <mat-toolbar class="h-[15%] bg-[white]">
    <span class="w-[40%]"><img src="assets/img/Rendea-menu.png" alt=""></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>

    <div class="w-[100%] lg:hidden block">
      <div class="flex justify-end">
        <button mat-button [matMenuTriggerFor]="menu"><img src="assets/img/gg_menu.png" alt=""></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item> <a mat-button [routerLink]="['/index']">Propietario</a></button>
          <button mat-menu-item> <a mat-button [routerLink]="['/page2']">Inquilino</a></button>
          <button mat-menu-item><a mat-button [routerLink]="['/agente']">Agente</a></button>
        </mat-menu>
      </div>
    </div>
    <div class="hidden lg:block w-[60%] space-x-20">


      <a mat-button [routerLink]="['/index']">Propietario</a>


      <a mat-button [routerLink]="['/page2']">Inquilino</a>


      <a mat-button [routerLink]="['/agente']">Agente</a>




    </div>

    <div class="hidden lg:block">
      <button class=mat-button onclick="window.location.href=' #'"
        style="background: #FF8D00; border-radius: 50px; width:  217px; height: 60px; color: #000000;">
        <a href="#contacto">Conversemos</a></button>
    </div>
  </mat-toolbar>

  <section class="mt-6 md:mt-12">
    <div class="w-[100%] flex mb:flex-col-reverse md:justify-between">
      <div class=" w-[100%] md:w-[40%] flex flex-col bg-[#FAF3E3] md:bg-[#F5F5F5]">
        <div class="flex justify-center text-[20px] lg:text-[30px] xl:text-[40px] 2xl:text-[51.83px] mt-8 md:mt-48">
          <div class="flex flex-col">
            <div class="md:hidden block">
              <div class="w-[100%]">
                <div class="flex justify-center mb-12">
                  <div class="w-[90%]">
                  <img src="assets/img/agente-img.png" alt="">
                </div>
                </div>
              </div>
            </div>
            <div class="w-[100%]">
              <div class="flex justify-center md:justify-start">
            <p class="2xl:w-[566px] xl:w-[450px] lg:w-[304px] w-[227px]">Programa de recompensas para agentes.</p>
          </div>
          </div>

            <div class="hidden lg:block flex flex-row-reverse 2xl:mr-[42%] xl:mr-[30%] lg:mr-[10%] mt-20 mb-40">
              <button mat-button onclick="window.location.href=' #'"
                style="background: #FF8D00; border-radius: 50px; width:  335px; height: 84px; color: #000000;">
                <a href="#contacto">Lista de espera</a></button>
            </div>
          </div>
        </div>

        <div class="lg:hidden block flex justify-center mb-8">
          <div class="flex flex-row-reverse mt-20">
            <button mat-button onclick="window.location.href=' #'"
              style="background: #FF8D00; border-radius: 50px; width: 287px; height: 48px; color: #000000;">
              <a href="#contacto">Lista de espera</a></button>
          </div>
        </div>



      </div>
      <div class=" md:block hidden bg-[#FAF3E3] md:w-[60%] ">
        <div class=" mt-28 mb-[118px] flex justify-center">
          <img class="hidden md:block" src="assets/img/agente-img.png" alt="">
        </div>
      </div>
    </div>
  </section>

</section>
